@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: poppins;
}
header{
    background: maroon;
    color: #fff;
    height: 100px;
    font-size: 1.2em;
}
nav{
    float: right;
    
}
nav ul{
    float: right;
    list-style-type: none;
    display: flex;
    gap: 30px;
}
nav li{
    width: 100%;
    height: 0;
}
nav ul li a{
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}
.wrapper{
    display: flex;
    gap: 30px;
    padding-top: 20px;
    overflow: hidden;
    
}
.pepsi{
    font-size: 1.2em;
   
    transition: transform 0.8s ease-in-out;
}
.pepsi:hover{
    transform: scale(0.9);
}
.coca{
    font-size: 1.2em;
   
    transition: transform 0.9s ease;
}
.coca:hover{
    transform: scale(0.9);
}
.mirinda{
    font-size: 1.2em;
    transition: transform 0.9s ease-in-out;
}
.mirinda:hover{
    transform: scale(0.9);
}
.poster{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding-top: 50px;
    font-size: 1.1em;
}
.icon8{
    gap: 30px;
    
}
.pageform{
    background: rgb(53, 52, 52);
    height: 250px;
    text-align: center;
    color: #fff;
}
.animation{
    width: 250px;
    height: 250px;
    background: blue;
    animation-name: spin;
    animation-duration: 3s;
    /*animation-iteration-count: infinite;*/
    animation-direction: alternate;
    margin-left: 650px;
    padding: 20px;
    color: #fff;
    text-align: center;
    
}
@keyframes spin {
    0%{

    }
    50%{
        scale:2;
        transform:rotate(0);
        border-radius:0;
    }
    100%{
        transform:rotate(360deg);
        border-radius:50%;
        scale:2;
    }
}
